.portfolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.portfolio-item {
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.portfolio-item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}
.portfolio-item-image {
  border-radius: 0.5rem;
  overflow: hidden;
  transition: var(--transition);
}
.portfolio-item-image:hover {
  transform: scale(1.1);
}
.portfolio-item h3 {
  margin: 1.2rem 0 2rem;
  text-align: center;
}
.portfolio-item-cta {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-top: 1rem;
}
p {
  margin-top: 2rem;
  color: rgb(183, 131, 187);
}

@media screen and (max-width: 1024px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2;
  }
}

@media screen and (max-width: 600px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
